@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Inter:wght@400;700&display=swap');

:root {
    --background: black;
    --background1: #101316;
    --background2: #20262c;
    --text: white;
    --link: #cce;
}

body {
    margin: 0;
    background-color: var(--background);
    font-family: sans-serif;
    color: #eee;
}

main {
    max-width: 800px;
    background-color: var(--background1);
    padding-top: 1em;
    padding: 1em 2em;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 0.5em;
    font-family: "Inconsolata", monospace;
}

a {
    color: var(--link);
    text-decoration: none;
}
a:hover {
    color: var(--text);
}

.row {
    display: grid;
    gap: 1em;
    padding-bottom: 1em;
}
.section {
    background-color: var(--background2);
    border-radius: 8px;
    padding: 1em;
}

.imgsection {
    background-color: var(--background2);
    border-radius: 8px;
    padding: 1em;
    display: flex;
    gap: 1.5em;
}
.imgsection img {
    width: 120px;
    height: 120px;
    border-radius: 4px;
}
.imgsection img::after {
    box-shadow: inset 5px 5px black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

#avatar {
    border-radius: 100%;
    border: solid var(--background1) 5px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul li {
    padding: 0.2em 0;
    display: flex;
}

.tag {
    background-color: var(--text);
    color: var(--background);
    border-radius: 8px;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    margin: 0 6px;
}

/* _____________________________________________________________________________

  Responsiveness
_____________________________________________________________________________ */

@media screen and (max-width: 800px) {
    .row {
        display: block;
    }
    .section {
        margin-bottom: 1em; /* vertical gap between sections */
    }
}
@media screen and (max-width: 600px) {
    main {
        padding: 1em 0.5em;
    }
}